In [3]:
# import dependencies 
import pandas as pd
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [4]:
# read in csv file and save as dataframe
df_zodiac = pd.read_csv("MBTI_types_Birthdays.csv")

In [5]:
# check dataframe
df_zodiac.head(10)

,Timestamp,Birthday,Birthday.1,Zodiac,MBTI Type,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,4/15/2020 4:26,10/5/2020,10/5,Libra,INFP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4/16/2020 17:02,1/1/2007,1/1,Capricorn,ENTP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4/17/2020 20:05,10/3/2006,10/3,Libra,INTP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4/15/2020 8:35,8/3/2006,8/3,Leo,INTP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4/14/2020 6:46,4/16/2006,4/16,Aries,ESFP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4/13/2020 17:04,11/29/2005,11/29,Sagittarius,ENTP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4/13/2020 22:01,3/23/2005,3/23,Aries,INTJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4/13/2020 12:14,9/9/2004,9/9,Virgo,INTP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,4/13/2020 21:35,6/20/2004,6/20,Gemini,ENFJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4/13/2020 15:48,2/20/2004,2/20,Pisces,INTJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_zodiac = df_zodiac[['Timestamp', 'Birthday', 'MBTI Type']]

In [7]:
df_zodiac.head()

         Timestamp   Birthday MBTI Type
0   4/15/2020 4:26  10/5/2020      INFP
1  4/16/2020 17:02   1/1/2007      ENTP
2  4/17/2020 20:05  10/3/2006      INTP
3   4/15/2020 8:35   8/3/2006      INTP
4   4/14/2020 6:46  4/16/2006      ESFP

In [8]:
df_zodiac = pd.concat([df_zodiac, pd.get_dummies(df_zodiac['MBTI Type'])], axis=1)

In [9]:
df_zodiac.head()

,Timestamp,Birthday,MBTI Type,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,ESTP,INFJ,INFP,INTJ,INTP,ISFJ,ISFP,ISTJ,ISTP
0,4/15/2020 4:26,10/5/2020,INFP,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,4/16/2020 17:02,1/1/2007,ENTP,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,4/17/2020 20:05,10/3/2006,INTP,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4/15/2020 8:35,8/3/2006,INTP,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,4/14/2020 6:46,4/16/2006,ESFP,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [10]:
# define function to find sun sign and add in a column 

def get_sun_sign(date):
    day = date.day
    month = date.month_name()
    
    if month == 'December':
        sun_sign = 'Sagittarius' if (day < 22) else 'Capricorn'
    elif month == 'January':
        sun_sign = 'Capricorn' if (day < 20) else 'Aquarius'
    elif month == 'February':
        sun_sign = 'Aquarius' if (day < 19) else 'Pisces'
    elif month == 'March':
        sun_sign = 'Pisces' if (day < 21) else 'Aries'
    elif month == 'April':
        sun_sign = 'Aries' if (day < 20) else 'Taurus'
    elif month == 'May':
        sun_sign = 'Taurus' if (day < 21) else 'Gemini'
    elif month == 'June':
        sun_sign = 'Gemini' if (day < 21) else 'Cancer'
    elif month == 'July':
        sun_sign = 'Cancer' if (day < 23) else 'Leo'
    elif month == 'August':
        sun_sign = 'Leo' if (day < 23) else 'Virgo'
    elif month == 'September':
        sun_sign = 'Virgo' if (day < 23) else 'Libra'
    elif month == 'October':
        sun_sign = 'Libra' if (day < 23) else 'Scorpio'
    elif month == 'November':
        sun_sign = 'Scorpio' if (day < 22) else 'Sagittarius'
    else:
        sun_sign = None
        
    return sun_sign

In [11]:
# translate birthday field to datetime format
df_zodiac['Birthday'] = pd.to_datetime(df_zodiac['Birthday'],infer_datetime_format=True)

In [12]:
# create column with zodiac signs
df_zodiac['Sun_Sign'] = df_zodiac['Birthday'].apply(lambda X: get_sun_sign(X))

In [13]:
df_zodiac.head(10)

,Timestamp,Birthday,MBTI Type,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,ESTP,INFJ,INFP,INTJ,INTP,ISFJ,ISFP,ISTJ,ISTP,Sun_Sign
0,4/15/2020 4:26,2020-10-05,INFP,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,Libra
1,4/16/2020 17:02,2007-01-01,ENTP,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,Capricorn
2,4/17/2020 20:05,2006-10-03,INTP,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,Libra
3,4/15/2020 8:35,2006-08-03,INTP,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,Leo
4,4/14/2020 6:46,2006-04-16,ESFP,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Aries
5,4/13/2020 17:04,2005-11-29,ENTP,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,Sagittarius
6,4/13/2020 22:01,2005-03-23,INTJ,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,Aries
7,4/13/2020 12:14,2004-09-09,INTP,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,Virgo
8,4/13/2020 21:35,2004-06-20,ENFJ,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Gemini
9,4/13/2020 15:48,2004-02-20,INTJ,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,Pisces

In [33]:
#Fire Signs: Aries, Leo, Sagittarius.
#Earth Signs: Taurus, Virgo, Capricorn.
#Air Signs: Gemini, Libra, Aquarius.
#Water Signs: Cancer, Scorpio, Pisces.
def get_sun_sign_element(sun_sign):
    
    if sun_sign in ['Aries', 'Leo', 'Sagittarius']:
        sun_sign_element = 'Fire Sign'
    elif sun_sign in ['Taurus', 'Virgo', 'Capricorn']:
        sun_sign_element = 'Earth Sign' 
    elif sun_sign in ['Gemini', 'Libra', 'Aquarius']:
        sun_sign_element = 'Air Sign' 
    elif sun_sign in ['Cancer', 'Scorpio', 'Pisces']:
        sun_sign_element = 'Water Sign' 
    else:
        sun_sign_element = None
        
    return sun_sign_element

df_zodiac['Sun_Sign_Element'] = df_zodiac['Sun_Sign'].apply(lambda X: get_sun_sign_element(X))

In [34]:
df_zodiac.head(10)

,Timestamp,Birthday,MBTI Type,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,...,Sun_Sign,Introverted,Sensing,Intuition,Feeling,Perceiving,Thinking,Extroverted,Judging,Sun_Sign_Element
0,4/15/2020 4:26,2020-10-05,INFP,0,0,0,0,0,0,0,...,Libra,1,0,1,1,1,0,0,0,Air Sign
1,4/16/2020 17:02,2007-01-01,ENTP,0,0,0,1,0,0,0,...,Capricorn,0,0,1,0,1,1,1,0,Earth Sign
2,4/17/2020 20:05,2006-10-03,INTP,0,0,0,0,0,0,0,...,Libra,1,0,1,0,1,1,0,0,Air Sign
3,4/15/2020 8:35,2006-08-03,INTP,0,0,0,0,0,0,0,...,Leo,1,0,1,0,1,1,0,0,Fire Sign
4,4/14/2020 6:46,2006-04-16,ESFP,0,0,0,0,0,1,0,...,Aries,0,1,0,1,1,0,1,0,Fire Sign
5,4/13/2020 17:04,2005-11-29,ENTP,0,0,0,1,0,0,0,...,Sagittarius,0,0,1,0,1,1,1,0,Fire Sign
6,4/13/2020 22:01,2005-03-23,INTJ,0,0,0,0,0,0,0,...,Aries,1,0,1,0,0,1,0,1,Fire Sign
7,4/13/2020 12:14,2004-09-09,INTP,0,0,0,0,0,0,0,...,Virgo,1,0,1,0,1,1,0,0,Earth Sign
8,4/13/2020 21:35,2004-06-20,ENFJ,1,0,0,0,0,0,0,...,Gemini,0,0,1,0,0,1,1,1,Air Sign
9,4/13/2020 15:48,2004-02-20,INTJ,0,0,0,0,0,0,0,...,Pisces,1,0,1,0,0,1,0,1,Water Sign

In [14]:
MBTI_type_traits = {
    "INFP": [
        "Introverted",
        "Intuition",
        "Feeling",
        "Perceiving"
    ],
    "INTP": [
        "Introverted",
        "Intuition",
        "Thinking",
        "Perceiving"
    ],
    "INTJ": [
        "Introverted",
        "Intuition",
        "Thinking",
        "Judging"
    ],
    "INFJ": [
        "Introverted",
        "Intuition",
        "Feeling",
        "Judging"
    ],
    "ENTP": [
        "Extroverted",
        "Intuition",
        "Thinking",
        "Perceiving"
    ],
    "ENFJ": [
        "Extroverted",
        "Intuition",
        "Thinking",
        "Judging"
    ],
    "ENTJ": [
        "Extroverted",
        "Intuition",
        "Thinking",
        "Judging"
    ],
    "ENFP": [
        "Extroverted",
        "Intuition",
        "Feeling",
        "Perceiving"
    ],
    
    'ISTJ': [
        'Introverted',
        'Sensing',
        'Thinking',
        'Judging'
    ],
    'ISFP':[
        'Introverted',
        'Sensing',
        'Feeling',
        'Perceiving'
    ],
    'ISFJ': [
        'Introverted',
        'Sensing',
        'Feeling',
        'Judging'
    ],
    'ISTP':[
        'Introverted',
        'Sensing',
        'Thinking',
        'Perceiving'
    ],
    'ESTJ':[
        'Extroverted',
        'Sensing',
        'Thinking',
        'Judging'
    ],
    'ESFJ':[
        'Extroverted',
        'Sensing',
        'Feeling',
        'Judging'
    ],
    'ESTP':[
        'Extroverted',
        'Sensing',
        'Thinking',
        'Perceiving'
    ],
    'ESFP':[
        'Extroverted',
        'Sensing',
        'Feeling',
        'Perceiving'
    ],
}

traits = []
for MBTI, MBTI_traits in MBTI_type_traits.items():
    traits.extend(MBTI_traits)
    
traits = list(set(traits))

for t in traits:
    df_zodiac[t] = 0

for MBTI, traits in MBTI_type_traits.items():
    for trait in traits:
        df_zodiac.loc[df_zodiac["MBTI Type"] == MBTI, trait] = 1

In [15]:
df_zodiac.columns

Index(['Timestamp', 'Birthday', 'MBTI Type', 'ENFJ', 'ENFP', 'ENTJ', 'ENTP',
       'ESFJ', 'ESFP', 'ESTJ', 'ESTP', 'INFJ', 'INFP', 'INTJ', 'INTP', 'ISFJ',
       'ISFP', 'ISTJ', 'ISTP', 'Sun_Sign', 'Introverted', 'Sensing',
       'Intuition', 'Feeling', 'Perceiving', 'Thinking', 'Extroverted',
       'Judging'],
      dtype='object')

In [16]:
df_zodiac.tail(30)

,Timestamp,Birthday,MBTI Type,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,...,ISTP,Sun_Sign,Introverted,Sensing,Intuition,Feeling,Perceiving,Thinking,Extroverted,Judging
276,4/14/2020 11:19,1998-08-03,ENTP,0,0,0,1,0,0,0,...,0,Leo,0,0,1,0,1,1,1,0
277,4/13/2020 11:59,1998-06-08,INTJ,0,0,0,0,0,0,0,...,0,Gemini,1,0,1,0,0,1,0,1
278,4/13/2020 17:12,1998-06-01,INTJ,0,0,0,0,0,0,0,...,0,Gemini,1,0,1,0,0,1,0,1
279,4/13/2020 13:46,1998-03-09,ENFP,0,1,0,0,0,0,0,...,0,Pisces,0,0,1,1,1,0,1,0
280,4/13/2020 15:16,1997-05-15,INFP,0,0,0,0,0,0,0,...,0,Taurus,1,0,1,1,1,0,0,0
281,4/14/2020 1:59,1996-10-24,INTJ,0,0,0,0,0,0,0,...,0,Scorpio,1,0,1,0,0,1,0,1
282,4/12/2020 17:39,1996-09-13,INFJ,0,0,0,0,0,0,0,...,0,Virgo,1,0,1,1,0,0,0,1
283,4/13/2020 11:20,1996-09-07,INFJ,0,0,0,0,0,0,0,...,0,Virgo,1,0,1,1,0,0,0,1
284,4/13/2020 12:13,1995-06-19,INFJ,0,0,0,0,0,0,0,...,0,Gemini,1,0,1,1,0,0,0,1
285,4/13/2020 11:59,1995-05-29,INTJ,0,0,0,0,0,0,0,...,0,Gemini,1,0,1,0,0,1,0,1
286,4/14/2020 17:56,1995-02-03,INFP,0,0,0,0,0,0,0,...,0,Aquarius,1,0,1,1,1,0,0,0
287,4/13/2020 14:03,1994-12-04,INTJ,0,0,0,0,0,0,0,...,0,Sagittarius,1,0,1,0,0,1,0,1
288,4/13/2020 10:59,1994-02-23,INFP,0,0,0,0,0,0,0,...,0,Pisces,1,0,1,1,1,0,0,0
289,4/13/2020 17:24,1994-01-24,INTJ,0,0,0,0,0,0,0,...,0,Aquarius,1,0,1,0,0,1,0,1
290,4/14/2020 2:14,1994-01-05,INTJ,0,0,0,0,0,0,0,...,0,Capricorn,1,0,1,0,0,1,0,1
291,4/13/2020 10:43,1993-11-29,ENTJ,0,0,1,0,0,0,0,...,0,Sagittarius,0,0,1,0,0,1,1,1
292,4/13/2020 11:16,1993-08-12,ENTJ,0,0,1,0,0,0,0,...,0,Leo,0,0,1,0,0,1,1,1
293,4/13/2020 12:52,1993-04-01,INFP,0,0,0,0,0,0,0,...,0,Aries,1,0,1,1,1,0,0,0
294,4/16/2020 3:45,1993-02-21,INFP,0,0,0,0,0,0,0,...,0,Pisces,1,0,1,1,1,0,0,0
295,4/16/2020 3:45,1993-02-21,INFP,0,0,0,0,0,0,0,...,0,Pisces,1,0,1,1,1,0,0,0
296,4/16/2020 1:18,1992-09-21,ENFJ,1,0,0,0,0,0,0,...,0,Virgo,0,0,1,0,0,1,1,1
297,4/13/2020 12:43,1992-08-08,ENFJ,1,0,0,0,0,0,0,...,0,Leo,0,0,1,0,0,1,1,1
298,4/15/2020 21:24,1992-08-08,ISTP,0,0,0,0,0,0,0,...,1,Leo,1,1,0,0,1,1,0,0
299,4/14/2020 16:11,1991-02-24,ENFP,0,1,0,0,0,0,0,...,0,Pisces,0,0,1,1,1,0,1,0
300,4/13/2020 11:21,1991-02-18,ENTP,0,0,0,1,0,0,0,...,0,Aquarius,0,0,1,0,1,1,1,0
301,4/13/2020 12:38,1988-04-04,INFJ,0,0,0,0,0,0,0,...,0,Aries,1,0,1,1,0,0,0,1
302,4/15/2020 7:38,1983-07-01,INTP,0,0,0,0,0,0,0,...,0,Cancer,1,0,1,0,1,1,0,0
303,4/13/2020 20:40,1982-05-14,INFP,0,0,0,0,0,0,0,...,0,Taurus,1,0,1,1,1,0,0,0
304,4/13/2020 14:37,1982-04-07,INTJ,0,0,0,0,0,0,0,...,0,Aries,1,0,1,0,0,1,0,1
305,4/13/2020 17:53,1980-02-13,ESFJ,0,0,0,0,1,0,0,...,0,Aquarius,0,1,0,1,0,0,1,1

In [58]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = df_zodiac['Sun_Sign_Element']

# Separate the X variable, the features
X = df_zodiac.drop(columns=['Sun_Sign', 'Timestamp', 'Birthday', 'MBTI Type','ENFJ', 'ENFP', 'ENTJ', 'ENTP',
       'ESFJ', 'ESFP', 'ESTJ', 'ESTP', 'INFJ', 'INFP', 'INTJ', 'INTP', 'ISFJ',
       'ISFP', 'ISTJ', 'ISTP', 'Sun_Sign_Element' ])

In [59]:
# Review the y variable Series
y[:5]

0      Air Sign
1    Earth Sign
2      Air Sign
3     Fire Sign
4     Fire Sign
Name: Sun_Sign_Element, dtype: object

In [60]:
# Review the X variable DataFrame
X[:5]

,Introverted,Sensing,Intuition,Feeling,Perceiving,Thinking,Extroverted,Judging
0,1,0,1,1,1,0,0,0
1,0,0,1,0,1,1,1,0
2,1,0,1,0,1,1,0,0
3,1,0,1,0,1,1,0,0
4,0,1,0,1,1,0,1,0

In [61]:
# Check the balance of our target values
balance_y = y.value_counts()
balance_y

Earth Sign    87
Water Sign    79
Fire Sign     76
Air Sign      64
Name: Sun_Sign_Element, dtype: int64

In [62]:
# Split the data using train_test_split
# Assign a random_state of 1 to the function

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y
)

In [63]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression()

# Fit the model using training data
lr_model = logistic_regression_model.fit(X_train, y_train)

In [64]:
# Make a prediction using the testing data
predictions = lr_model.predict(X_test)
predictions

array(['Earth Sign', 'Fire Sign', 'Air Sign', 'Air Sign', 'Earth Sign',
       'Water Sign', 'Fire Sign', 'Water Sign', 'Fire Sign', 'Fire Sign',
       'Fire Sign', 'Earth Sign', 'Earth Sign', 'Air Sign', 'Fire Sign',
       'Fire Sign', 'Water Sign', 'Water Sign', 'Air Sign', 'Fire Sign',
       'Fire Sign', 'Earth Sign', 'Water Sign', 'Fire Sign', 'Fire Sign',
       'Water Sign', 'Water Sign', 'Fire Sign', 'Air Sign', 'Fire Sign',
       'Fire Sign', 'Earth Sign', 'Earth Sign', 'Water Sign',
       'Water Sign', 'Earth Sign', 'Fire Sign', 'Earth Sign', 'Air Sign',
       'Earth Sign', 'Fire Sign', 'Air Sign', 'Earth Sign', 'Water Sign',
       'Air Sign', 'Earth Sign', 'Air Sign', 'Fire Sign', 'Fire Sign',
       'Water Sign', 'Air Sign', 'Water Sign', 'Earth Sign', 'Fire Sign',
       'Fire Sign', 'Earth Sign', 'Air Sign', 'Air Sign', 'Air Sign',
       'Water Sign', 'Water Sign', 'Air Sign', 'Water Sign', 'Water Sign',
       'Earth Sign', 'Air Sign', 'Air Sign', 'Water Sign', 'Water Sign',
       'Air Sign', 'Fire Sign', 'Water Sign', 'Earth Sign', 'Air Sign',
       'Air Sign', 'Air Sign', 'Fire Sign'], dtype=object)

In [65]:
# Print the balanced_accuracy score of the model
accuracy = balanced_accuracy_score(y_test, predictions)
accuracy

0.18220603458774814

In [66]:
# Generate a confusion matrix for the model
confusion_matrix(y_test, predictions)

array([[4, 4, 5, 4],
       [4, 3, 9, 7],
       [6, 4, 5, 6],
       [6, 5, 3, 2]], dtype=int64)

In [67]:
# Separate the data into labels and features

# Separate the y variable, the labels
y_MBTI = df_zodiac['Sun_Sign']

# Separate the X variable, the features
X_MBTI = df_zodiac[['ENFJ', 'ENFP', 'ENTJ', 'ENTP',
       'ESFJ', 'ESFP', 'ESTJ', 'ESTP', 'INFJ', 'INFP', 'INTJ', 'INTP', 'ISFJ',
       'ISFP', 'ISTJ', 'ISTP']]

In [27]:
y_MBTI[:5]

0        Libra
1    Capricorn
2        Libra
3          Leo
4        Aries
Name: Sun_Sign, dtype: object

In [28]:
X_MBTI[:5]

,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,ESTP,INFJ,INFP,INTJ,INTP,ISFJ,ISFP,ISTJ,ISTP
0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [29]:
# Split the data using train_test_split
# Assign a random_state of 1 to the function

X_train_MBTI, X_test_MBTI, y_train_MBTI, y_test_MBTI = train_test_split(
    X_MBTI,
    y_MBTI
)

In [30]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression()

# Fit the model using training data
lr_model_MBTI = logistic_regression_model.fit(X_train_MBTI, y_train_MBTI)

In [31]:
# Make a prediction using the testing data
predictions_MBTI = lr_model_MBTI.predict(X_test_MBTI)
predictions_MBTI

array(['Cancer', 'Capricorn', 'Cancer', 'Pisces', 'Pisces', 'Taurus',
       'Pisces', 'Virgo', 'Pisces', 'Cancer', 'Aries', 'Cancer', 'Cancer',
       'Leo', 'Leo', 'Pisces', 'Virgo', 'Taurus', 'Aries', 'Cancer',
       'Virgo', 'Pisces', 'Virgo', 'Virgo', 'Virgo', 'Virgo', 'Cancer',
       'Aries', 'Cancer', 'Virgo', 'Pisces', 'Capricorn', 'Virgo',
       'Aries', 'Pisces', 'Pisces', 'Virgo', 'Aries', 'Cancer', 'Virgo',
       'Taurus', 'Cancer', 'Pisces', 'Cancer', 'Pisces', 'Pisces',
       'Virgo', 'Cancer', 'Virgo', 'Pisces', 'Pisces', 'Cancer', 'Aries',
       'Virgo', 'Aries', 'Virgo', 'Aries', 'Pisces', 'Aquarius', 'Cancer',
       'Leo', 'Aquarius', 'Virgo', 'Pisces', 'Cancer', 'Virgo', 'Leo',
       'Pisces', 'Pisces', 'Aries', 'Aries', 'Pisces', 'Virgo', 'Cancer',
       'Aries', 'Pisces', 'Aries'], dtype=object)

In [32]:
# Print the balanced_accuracy score of the model
accuracy_MBTI = balanced_accuracy_score(y_test_MBTI, predictions_MBTI)
accuracy_MBTI

0.041666666666666664